<%- include('../partials/header', { 
    title: `${photo.title}'s Edit Page`
}); %>

    <main>
        <h1><%= photo.title %>'s Edit Page</h1>
        
        <form action="/photos/<%= photo._id %>?_method=PUT" method="POST">
            URL: <select name="userId">
                    <% for (let i = 0; i < users.length; i++) { %>
                    <option value="<%= users[i]._id %>" 
                        <% if (users[i]._id.toString() === photoUser._id.toString()) {%>
                            selected
                        <% } %>
                    ><%= users[i].name %></option>
                    <% } %>
                </select><br>
            User: <input type="text" name="user" value="<%= photo.user %>"><br>
            Title: <input type="text" name="title" value="<%= photo.title %>" maxlength="10"><br>
            Description: <input type="text" name="description" value="<%= photo.description %>"><br>
            <button type="submit">Edit <%= photo.title %></button>
        </form>
    </main>

<%- include('../partials/footer') %>