<%- include('../partials/header', { 
    title: 'New Photos Page'
}); %>
<!--
    <main>
        <h1>New Photos Page</h1>
        <ul>
            <li><%= photo.title %> by <%= photo.user %><br>
            <img src="<%= photo.url %>" alt="<%= photo.title %> Image" title="<%= photo.title %> Image"><br>
            </li>
        </ul>
        <a href="/photos/<%= photo._id %>/edit">Edit <%= photo.title %></a><br>
    </main>
    -->

<%- include('../partials/footer') %>