<%- include('../partials/header', { 
    title: 'Users Index Page'
}); %>

    <main>
        <h1>Users Index Page</h1>
        <ul>
            <% users.forEach( user => { %>
                <li><figure class="photo">
                    <div class="photo__hero">
                        <img src="https://images.unsplash.com/photo-1535930749574-1399327ce78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80" alt="<%= user.name %> Image" title="<%= user.name %> Image" class="photo__img">
                    </div>

                    <div class="photo__content">
                        <div class="photo__heading">
                            <div class="photo__title">
                                <h2><%= user.name %></h2>
                            </div>
                            <div class="photo__user">
                                #Photos: <%= user.photos.length %>
                            </div>
                        </div>
                        <p class="photo__description">
                            <%= user.description %>
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
                        </p>
                    </div>

                    <div class="photo__edit">
                        <a href="/users/<%= user._id %>">Photos</a>
                    </div>
                </figure></li>
            <% }) %>
        </ul>
        <a href="/users/new" class="btn create">Add New User</a>
    </main>

<%- include('../partials/footer') %>